<html>
  <title> Aayam 2012 - Dept. of Electronics Engineering, IT-BHU </title>

  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <div id="pen"></div>
	<div id="wrapper">
		<div id="adline">Aayam 2012 Online Registration Desk : Powered By <a href="http://webfuel.in" id="adlink">Webfuel Technologies</a></div>
		<div id="head">
		</div><hr/>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<hr/>
		<div id="footer">
			<ul id="footlist">
				<li id="user_reg"><a href="user-registration">USER REGISTRATION</a></li>
				<li id="event_reg"><a href="aayam-events">EVENT REGISTRATION</a></li>
			</ul>
		</div>
	</div>
  </body>
</html>

