{% extends "base.html" %} 

{% block content %}
    {% if user %}
	<a href="{{ logout_url }}"><div id="logout"> LOGOUT </div></a>
    <p>Welcome, {{ user }}!</p>
    <p> AAYAM 2012, Welcomes You to its Online Event Registration Desk.</p>

    <form action="/event-registration" method="post">
      <p> Please select your Event and click on Register </p>

      <select name="event_selected">
        {% for event in events %}
          <option value="{{ event.event }}">{{ event.event }}</option>
        {% endfor %}
      </select>
      <br/> <br/>
      <div><input type="submit" value="Register"></div>
    </form>
    {% else  %}
	<a href="{{ login_url }}"><div id="login"> LOGIN </div></a>
    <p>Please Login before you can make use of our Online Registration Desk </p> <br/>
    {% endif %}
{% endblock %}


