{% extends "base.html" %} 

{% block content %}
    {% if user %}
    <p>Welcome, {{ user }}!</p> <hr/>

    <form action="/team-registration" method="post">
      <p> Now, please fill in this form below. Give a suitable name to your team & select its team members. </p>

      <div>TEAM NAME: <textarea name="team" va rows="1" cols="60"></textarea></div>

      {% for ctr in numrange %}
      <div>Team Member {{ ctr }}: <textarea name="member{{ ctr }}"  rows="1" cols="30"></textarea></div>
      {% endfor %}

      <p>Please Note: The user email id you enter here must be a registerd aayam email id. </p>
      <div><input type="submit" value="REGISTER" id="register"></div>
    </form>
    {% else  %}
    <a href="{{ login_url }}"><div id="login"> LOGIN </div></a>
    <p>Please Login before you can make use of our Online Registration Desk. </p> <br/>
    {% endif %}

{% endblock %}

