{% extends "base.html" %} 

  <body>
    {% if user %}
    <p>Welcome, {{ user }}!</p> <a href="{{ logout_url }}"> (LOGOUT) </a><hr/>
    <p> AAYAM 2012, Welcomes You to its Online Registration Desk (Powered by Webfuel Technologies)</p>

    <form action="/event-registration" method="post">
      <p> Please enter your details to register. </p>


      <div><input type="submit" value="Register"></div>
    </form>
    {% else  %}
    <p>Please Login before you can make use of our Online Registration Desk </p> <br/>
    <a href="{{ login_url }}"> (LOGIN) </a>
    {% endif %}

{% endblock %}

