{% extends "base.html" %} 

{% block content %}
  <body>
    {% if user %}
    <p>Congratulations, {{ user }}! You have been registered.</p> <a href="{{ logout_url }}"> (LOGOUT) </a><hr/>
    <p> You are now officially a part of the AAYAM 2012 team. Go ahead and register for any event you want to, but make sure all the team members you chose are registered before that.</p>

    AAYAM 2012 EVENTS REGISTRATION PAGE <a href="/aayam-events"> (GO) </a>

    {% else  %}
    <p>Please Login before you can make use of our Online Registration Desk </p> <br/>
    <a href="{{ login_url }}"> (LOGIN) </a>
    {% endif %}
{% endblock %}
