{% extends "base.html" %} 

{% block content %}
  <body>
    {% if user %}
	<a href="{{ logout_url }}"><div id="logout"> LOGOUT </div></a>
    <p>Congratulations, {{ user }}! You have been registered.</p> 
    <p> You are now officially a part of the AAYAM 2012 team. Go ahead and register for any event you want to, but make sure all the team members you chose are registered before that.</p>

    {% else  %}
	<a href="{{ login_url }}"><div id="login"> LOGIN </div></a>
    <p>Please Login before you can make use of our Online Registration Desk </p> <br/>
    {% endif %}
{% endblock %}
